<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="#" class="page-header__logo">
                <img src="img/logo.svg" alt="" class="page-header__logo-image" width="166">
            </a>
            <a href="#" class="page-header__city">
                Выбрать город
            </a>
            <nav class="page-header__nav">
                <ul>
                    <li>
                        <a href="#">
                            О фабрике
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Почему мы
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            О детском бизнесе
                        </a>
                    </li>
                </ul>
            </nav>
            <a href="#" class="yellow-btn page-header__contact-us">
                Написать нам
            </a>
        </div>
    </div>
</header>