<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="page-header__burger-menu">
                <a href="#" class="page-header__burger-choose-city">
                    Выбрать город
                </a>
                <nav class="page-header__burger-menu-nav">
                    <ul>
                        <li>
                            <a href="#">
                                О фабрике
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Почему мы
                            </a>
                        </li>
                        <li>
                            <a href="#child-business">
                                О детском бизнесе
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="page-header__burger-menu-contacts">
                    <div class="page-header__burger-menu-contacts-item">
                        <div class="page-header__burger-menu-contacts-item-key">
                            телефон / whatsapp
                        </div>
                        <div class="page-header__burger-menu-contacts-item-value">
                            +7 987 654 32 10
                        </div>
                    </div>
                    <div class="page-header__burger-menu-contacts-item">
                        <div class="page-header__burger-menu-contacts-item-key">
                            e — mail
                        </div>
                        <div class="page-header__burger-menu-contacts-item-value">
                            info@sitename.ru
                        </div>
                    </div>
                </div>
            </div>
            <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a href="#" class="page-header__logo">
                <img src="img/logo.svg" alt="" class="page-header__logo-image" width="166">
            </a>
            <a href="#choose-city" class="page-header__city js-open-modal">
                Выбрать город
            </a>
            <nav class="page-header__nav">
                <ul>
                    <li>
                        <a href="#">
                            О фабрике
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Почему мы
                        </a>
                    </li>
                    <li>
                        <a href="#child-business">
                            О детском бизнесе
                        </a>
                    </li>
                </ul>
            </nav>
            <a href="#contact-modal" class="yellow-btn page-header__contact-us js-open-modal">
                Написать нам
            </a>
        </div>
    </div>
</header>