<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="page-header__burger-menu">
                <a href="#" class="page-header__burger-choose-city">
                    Выбрать город
                </a>
                <nav class="page-header__burger-menu-nav">
                    <ul>
                        <li>
                            <a href="#">
                                О фабрике
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Почему мы
                            </a>
                        </li>
                        <li>
                            <a href="#child-business">
                                О детском бизнесе
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="page-header__burger-menu-contacts">
                    <div class="page-header__burger-menu-contacts-item">
                        <div class="page-header__burger-menu-contacts-item-key">
                            телефон / whatsapp
                        </div>
                        <div class="page-header__burger-menu-contacts-item-value">
                            +7 987 654 32 10
                        </div>
                    </div>
                    <div class="page-header__burger-menu-contacts-item">
                        <div class="page-header__burger-menu-contacts-item-key">
                            e — mail
                        </div>
                        <div class="page-header__burger-menu-contacts-item-value">
                            info@sitename.ru
                        </div>
                    </div>
                </div>
            </div>
            <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a href="#" class="page-header__logo">
                <img src="img/logo.svg" alt="" class="page-header__logo-image" width="166">
            </a>
            <div class="page-header__city">
                <a href="#choose-city" class="page-header__city-btn js-open-modal">
                    Казань
                </a>
                <div class="page-header__city-dropdown">
                    <div class="page-header__city-dropdown-inner">
                        <h3 class="page-header__city-dropdown-heading">
                            <svg width="14" height="14" aria-hidden="true" class="icon-city">
                                <use xlink:href="#city"></use>
                            </svg>
                            <span class="page-header__city-dropdown-heading-text">
                                Ваш город <b>Казань</b>?
                            </span>

                        </h3>
                        <div class="page-header__city-dropdown-btns">
                            <a href="#" class="yellow-btn">
                                Все верно
                            </a>
                            <a href="#choose-city" class="page-header__city-dropdown-choose js-open-modal">
                                Выбрать город
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="page-header__nav">
                <ul>
                    <li>
                        <a href="#">
                            О фабрике
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Почему мы
                        </a>
                    </li>
                    <li>
                        <a href="#child-business">
                            О детском бизнесе
                        </a>
                    </li>
                </ul>
            </nav>
            <a href="#contact-modal" class="yellow-btn page-header__contact-us js-open-modal">
                Написать нам
            </a>
        </div>
    </div>
</header>