<div class="modal js-modal" id="contact-modal">
    <div class="modal__inner">
        <button class="modal__close js-close-modal" type="button">
            <svg width="14" height="14" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <h3 class="modal__title">
            Оставьте заявку
        </h3>
        <div class="modal__text">
            <p>
                Мы свяжемся с вами в ближайшее время
            </p>
        </div>
        <form action="/" method="POST" class="modal__form" data-need-validation="">
            <div class="modal__form-fields">
                <div class="modal__form-field">
                    <input type="text" name="your-name" class="modal__form-input" required="" placeholder="Ваше имя">
                </div>
                <div class="modal__form-field">
                    <input type="tel" name="your-phone" class="modal__form-input js-phone-input" required=""
                        data-parsley-phone="" placeholder="+7 (___) ___ - __ - __">
                </div>
                <div class="modal__form-field">
                    <textarea name="your-comment" class="modal__form-input"></textarea>
                </div>
                <div class="modal__form-field">
                    <label class="modal__form-checkbox">
                        <input type="checkbox" class="modal__form-checkbox-input" name="policy" value="Y" required>
                        <span class="modal__form-checkbox-mark">

                        </span>
                        <span class="modal__form-checkbox-text">
                            Я подтверждаю свое согласие на обработку моих персональных данных в соответствии
                            с Политикой конфиденциальности
                        </span>
                    </label>
                </div>

            </div>
            <button type="submit" class="yellow-btn modal__form-submit">
                бесплатный пробный урок
            </button>
        </form>
    </div>
</div>
<div class="modal js-modal" id="demo-lesson">
    <div class="modal__inner">
        <button class="modal__close js-close-modal" type="button">
            <svg width="14" height="14" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <h3 class="modal__title">
            Оставьте заявку
        </h3>
        <div class="modal__text">
            <p>
                Мы свяжемся с вами в ближайшее время
            </p>
        </div>
        <form action="/" method="POST" class="modal__form" data-need-validation="">
            <div class="modal__form-fields">
                <div class="modal__form-field">
                    <input type="text" name="your-name" class="modal__form-input" required="" placeholder="Ваше имя">
                </div>
                <div class="modal__form-field">
                    <input type="tel" name="your-phone" class="modal__form-input js-phone-input" required=""
                        data-parsley-phone="" placeholder="+7 (___) ___ - __ - __">
                </div>

                <div class="modal__form-field">
                    <label class="modal__form-checkbox">
                        <input type="checkbox" class="modal__form-checkbox-input" name="policy" value="Y" required>
                        <span class="modal__form-checkbox-mark">

                        </span>
                        <span class="modal__form-checkbox-text">
                            Я подтверждаю свое согласие на обработку моих персональных данных в соответствии
                            с Политикой конфиденциальности
                        </span>
                    </label>
                </div>

            </div>
            <button type="submit" class="yellow-btn modal__form-submit">
                бесплатный пробный урок
            </button>
        </form>
    </div>
</div>
<div class="modal js-modal" id="choose-city">
    <div class="modal__inner">
        <button class="modal__close js-close-modal" type="button">
            <svg width="14" height="14" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <h3 class="modal__title">
            Выберите<br> ваш город
        </h3>
        <div class="modal__city js-city-search">
            <form method="GET" action="/" class="modal__city-search-box">
                <input type="city" class="modal__city-search-box-input" placeholder="Введите название вашего города">
            </form>
            <div class="modal__city-search-results">
                <ul class="modal__city-search-list">
                    <li class="modal__city-search-list-item">
                        <a href="#" class="modal__city-search-link">
                            АБАКАН
                        </a>
                    </li>
                    <li class="modal__city-search-list-item">
                        <a href="#" class="modal__city-search-link">
                            АНГАРСК
                        </a>
                    </li>
                    <li class="modal__city-search-list-item">
                        <a href="#" class="modal__city-search-link">
                            АРХАНГЕЛЬСК
                        </a>
                    </li>
                    <li class="modal__city-search-list-item">
                        <a href="#" class="modal__city-search-link">
                            АСТАНА
                        </a>
                    </li>
                    <li class="modal__city-search-list-item">
                        <a href="#" class="modal__city-search-link">
                            БАРНАУЛ
                        </a>
                    </li>
                    <li class="modal__city-search-list-item">
                        <a href="#" class="modal__city-search-link">
                            БЕЛГОРОД
                        </a>
                    </li>
                    <li class="modal__city-search-list-item">
                        <a href="#" class="modal__city-search-link">
                            БИШКЕК
                        </a>
                    </li>
                    <li class="modal__city-search-list-item">
                        <a href="#" class="modal__city-search-link">
                            ВЛАДИВОСТОК
                        </a>
                    </li>
                    <li class="modal__city-search-list-item">
                        <a href="#" class="modal__city-search-link">
                            ВЛАДИКАВКАЗ
                        </a>
                    </li>
                    <li class="modal__city-search-list-item">
                        <a href="#" class="modal__city-search-link">
                            ВОЛГОГРАД
                        </a>
                    </li>
                    <li class="modal__city-search-list-item">
                        <a href="#" class="modal__city-search-link">
                            ВОРОНЕЖ
                        </a>
                    </li>
                    <li class="modal__city-search-list-item">
                        <a href="#" class="modal__city-search-link">
                            ЕКАТЕРИНБУРГ
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>