{{#extend "layout"}}
{{#content "main"}}


<section class="intro">
    <div class="container">
        <div class="inner-container">
            <div class="intro__row">
                <h1 class="intro__heading">
                    Инвестируйте
                    в&nbsp;успешное будущее ребенка
                </h1>
                <div class="intro__text">
                    <p>
                        Авторский курс для детей и подростков 8 — 16 лет по развитию предпринимательского мышления и
                        компетенций от школы наставничества №1 в России.
                    </p>
                </div>
                <a href="#demo-lesson" class="outline-btn intro__link js-open-modal">
                    бесплатный пробный урок
                </a>
            </div>

        </div>
        <div class="intro__image-wrapper">
            <img data-src="img/intro.jpg" alt="" class="intro__image lazyload">
        </div>
    </div>
</section>


<section class="will-learn js-will-learn">
    <div class="container">
        <div class="inner-container">


            <h2 class="section-heading will-learn__heading">
                На нашем курсе ребенок научится:
            </h2>
            <div class="will-learn__sliders">
                <div class="will-learn__slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Финансовой грамотности
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Публичные выступления
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Формирование команды
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Лидерство
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Эмоциональный интеллект
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Принятие взвешенных решений
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Целеполагание
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Грамотное использование соц. сетей
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="will-learn__slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Ораторское мастерство
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Работа в команде
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Ответственность
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Основы маркетинга и продаж
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Планирование своего графика
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Навыки самопрезентации
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Оценка бизнес-идей
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Деловой этикет
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="formats">
    <div class="container">
        <div class="inner-container">
            <h2 class="section-heading formats__heading">
                Мы проводим обучение<br> в разных форматах
            </h2>
            <ul class="formats__list">
                <li class="formats__list-item">
                    <div class="formats__card">
                        <div class="formats__card-image-container">
                            <img data-src="img/formats/1.jpg" alt="" class="formats__card-image lazyload">
                        </div>
                        <h3 class="formats__card-title">
                            Офлайн обучение
                        </h3>
                    </div>
                </li>
                <li class="formats__list-item">
                    <div class="formats__card">
                        <div class="formats__card-image-container">
                            <img data-src="img/formats/2.jpg" alt="" class="formats__card-image lazyload">
                        </div>
                        <h3 class="formats__card-title">
                            Офлайн обучение
                        </h3>
                    </div>
                </li>
                <li class="formats__list-item">
                    <div class="formats__card">
                        <div class="formats__card-image-container">
                            <img data-src="img/formats/3.jpg" alt="" class="formats__card-image lazyload">
                        </div>
                        <h3 class="formats__card-title">
                            Детский лагерь
                        </h3>
                    </div>
                </li>
                <li class="formats__list-item">
                    <div class="formats__card">
                        <div class="formats__card-image-container">
                            <img data-src="img/formats/4.jpg" alt="" class="formats__card-image lazyload">
                        </div>
                        <h3 class="formats__card-title">
                            Экскурсии
                        </h3>
                    </div>
                </li>
            </ul>
            <div class="formats__ages-slider js-ages-slider">
                <div class="swiper-container">
                    <ul class="swiper-wrapper formats__ages-list">
                        <li class="swiper-slide formats__ages-list-item">
                            <div class="formats__ages-card">
                                <div class="formats__ages-card-age">
                                    <div class="formats__ages-card-amount">
                                        9
                                    </div>
                                    <div class="formats__ages-card-unit">
                                        месяцев
                                    </div>
                                </div>
                                <div class="formats__ages-card-text">
                                    <p>
                                        Длительность обучения
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide formats__ages-list-item">
                            <div class="formats__ages-card">
                                <div class="formats__ages-card-age">
                                    <div class="formats__ages-card-amount">
                                        4 - 16
                                    </div>
                                    <div class="formats__ages-card-unit">
                                        лет
                                    </div>
                                </div>
                                <div class="formats__ages-card-text">
                                    <p>
                                        Возраст наших учеников
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide formats__ages-list-item">
                            <div class="formats__ages-card">
                                <div class="formats__ages-card-age">
                                    <div class="formats__ages-card-amount">
                                        20
                                    </div>
                                    <div class="formats__ages-card-unit">
                                        детей
                                    </div>
                                </div>
                                <div class="formats__ages-card-text">
                                    <p>
                                        Средний размер группы
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide formats__ages-list-item">
                            <div class="formats__ages-card">
                                <div class="formats__ages-card-age">
                                    <div class="formats__ages-card-amount">
                                        90
                                    </div>
                                    <div class="formats__ages-card-unit">
                                        минут
                                    </div>
                                </div>
                                <div class="formats__ages-card-text">
                                    <p>
                                        Длительность занятия
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="geography">
    <div class="container">
        <div class="medium-container">
            <div class="geography__map">
                <div class="geography__map-image-wrapper">
                    <img data-src="img/geography-map.jpg" alt="" class="geography__map-image lazyload">
                </div>
                <div class="inner-container">
                    <h2 class="section-heading geography__map-title">
                        Крупнейшая сеть детских бизнес-школ в мире.
                    </h2>
                </div>
            </div>
        </div>
        <div class="inner-container">
            <div class="geography__numbers">
                <ul class="geography__numbers-list">
                    <li class="geography__numbers-list-item">
                        <div class="geography__numbers-card">
                            <div class="geography__numbers-card-digit js-counter">
                                <span>7</span>+
                            </div>
                            <div class="geography__numbers-card-text">
                                лет работы
                            </div>
                        </div>
                    </li>
                    <li class="geography__numbers-list-item">
                        <div class="geography__numbers-card">
                            <div class="geography__numbers-card-digit js-counter">
                                <span>6</span>
                            </div>
                            <div class="geography__numbers-card-text">
                                Стран
                            </div>
                        </div>
                    </li>
                    <li class="geography__numbers-list-item">
                        <div class="geography__numbers-card">
                            <div class="geography__numbers-card-digit js-counter">
                                <span>20 000</span>
                            </div>
                            <div class="geography__numbers-card-text">
                                успешных проектов
                            </div>
                        </div>
                    </li>
                    <li class="geography__numbers-list-item">
                        <div class="geography__numbers-card">
                            <div class="geography__numbers-card-digit js-counter">
                                <span>30 000</span>
                            </div>
                            <div class="geography__numbers-card-text">
                                учеников
                            </div>
                        </div>
                    </li>
                    <li class="geography__numbers-list-item">
                        <div class="geography__numbers-card">
                            <div class="geography__numbers-card-digit js-counter">
                                <span>75</span>+
                            </div>
                            <div class="geography__numbers-card-text">
                                центров
                            </div>
                        </div>
                    </li>
                    <li class="geography__numbers-list-item">
                        <div class="geography__numbers-card">
                            <div class="geography__numbers-card-digit js-counter">
                                <span>450</span>
                            </div>
                            <div class="geography__numbers-card-text">
                                наставников
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="#demo-lesson" class="yellow-btn yellow-btn--wide geography__free-lesson js-open-modal">
                    бесплатный пробный урок
                </a>
            </div>
        </div>
    </div>
</section>


<section class="our-partners">
    <div class="container">
        <div class="inner-container">
            <h2 class="section-heading our-partners__heading">
                Наши партнеры
            </h2>
        </div>
        <div class="medium-container">
            <div class="our-partners__slider js-partners-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="our-partners__slider-card">
                                <img src="img/partners/1.jpg" alt="" class="our-partners__slider-card-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="our-partners__slider-card">
                                <img src="img/partners/2.jpg" alt="" class="our-partners__slider-card-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="our-partners__slider-card">
                                <img src="img/partners/3.jpg" alt="" class="our-partners__slider-card-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="our-partners__slider-card">
                                <img src="img/partners/4.jpg" alt="" class="our-partners__slider-card-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="our-partners__slider-card">
                                <img src="img/partners/5.jpg" alt="" class="our-partners__slider-card-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="our-partners__slider-card">
                                <img src="img/partners/6.jpg" alt="" class="our-partners__slider-card-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="our-partners__slider-card">
                                <img src="img/partners/7.jpg" alt="" class="our-partners__slider-card-image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="why-love">
    <div class="container">
        <div class="why-love__card">
            <div class="why-love__card-bg">
                <img data-src="img/why-love.jpg" alt="" class="why-love__card-bg-image lazyload">
            </div>
            <div class="inner-container">
                <h2 class="section-heading why-love__card-heading">
                    Почему дети любят фабрику?
                </h2>
            </div>
        </div>
    </div>
</section>


<section class="mentors">
    <div class="container">
        <div class="inner-container">
            <h2 class="section-heading mentors__heading">
                Бизнес — наставники
            </h2>
            <div class="mentors__image-wrapper">
                <div class="mentors__image-wrapper-bg">
                    <img data-src="img/mentors.jpg" alt="" class="mentors__image-wrapper-bg-image lazyload">
                </div>
                <h3 class="mentors__image-wrapper-heading">
                    Каждый ученик реализует проект
                    под руководством действующего предпринимателя.
                </h3>
            </div>
            <div class="mentors__row">
                <div class="mentors__col">
                    <div class="mentors__small-text">
                        <p>
                            Наши наставники- это успешные, грамотные и интересные предприниматели, которые проводят
                            яркие
                            мастер-классы для наших учеников и сопровождают их стартапы.
                        </p>
                    </div>

                </div>
                <div class="mentors__col">
                    <div class="mentors__regular-text">
                        <p>
                            Они вдохновляют ребят собственным примером, потому что знают на практике, как «с нуля»
                            построить успешный бизнес.
                        </p>
                    </div>
                </div>
            </div>

            <div class="mentors__slider js-mentors-slider">
                <div class="mentors__slider-top-row">
                    <div class="mentors__slider-move">
                        Листайте вправо
                        <svg width="14" height="14" aria-hidden="true" class="icon-play">
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="mentors__slider-card">
                                <div class="mentors__slider-image-container">
                                    <img data-src="img/mentors/1.jpg" alt="" class="mentors__slider-image lazyload">
                                </div>
                                <div class="mentors__slider-card-name">
                                    <div class="mentors__slider-card-first-name">
                                        Габидуллин
                                    </div>
                                    <div class="mentors__slider-card-last-name">
                                        Алмаз
                                    </div>
                                </div>
                                <div class="mentors__slider-card-description">
                                    <p>
                                        Е-commerce предприниматель, основатель производства обуви Kiez, основатель
                                        завода по производству лимонада.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="mentors__slider-card">
                                <div class="mentors__slider-image-container">
                                    <img data-src="img/mentors/2.jpg" alt="" class="mentors__slider-image lazyload">
                                </div>
                                <div class="mentors__slider-card-name">
                                    <div class="mentors__slider-card-first-name">
                                        Хакимова
                                    </div>
                                    <div class="mentors__slider-card-last-name">
                                        Ирина
                                    </div>
                                </div>
                                <div class="mentors__slider-card-description">
                                    <p>
                                        Основатель компании «Mebelkovo».
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="mentors__slider-card">
                                <div class="mentors__slider-image-container">
                                    <img data-src="img/mentors/3.jpg" alt="" class="mentors__slider-image lazyload">
                                </div>
                                <div class="mentors__slider-card-name">
                                    <div class="mentors__slider-card-first-name">
                                        Шуралева
                                    </div>
                                    <div class="mentors__slider-card-last-name">
                                        Резеда
                                    </div>
                                </div>
                                <div class="mentors__slider-card-description">
                                    <p>
                                        Ландшафтный дизайнер, координатор благотворительных проектов.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="mentors__slider-card">
                                <div class="mentors__slider-image-container">
                                    <img data-src="img/mentors/4.jpg" alt="" class="mentors__slider-image lazyload">
                                </div>
                                <div class="mentors__slider-card-name">
                                    <div class="mentors__slider-card-first-name">
                                        Раджабова
                                    </div>
                                    <div class="mentors__slider-card-last-name">
                                        Зарема
                                    </div>
                                </div>
                                <div class="mentors__slider-card-description">
                                    <p>
                                        Соучредитель модельного агентства и модельной школы, организатор книжного клуба,
                                        организатор игр по городскому ориентированию и краеведению.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="mentors__slider-card">
                                <div class="mentors__slider-image-container">
                                    <img data-src="img/mentors/5.jpg" alt="" class="mentors__slider-image lazyload">
                                </div>
                                <div class="mentors__slider-card-name">
                                    <div class="mentors__slider-card-first-name">
                                        Кутьин
                                    </div>
                                    <div class="mentors__slider-card-last-name">
                                        Сергей
                                    </div>
                                </div>
                                <div class="mentors__slider-card-description">
                                    <p>
                                        Основатель центра детского развития «ChampionIQ», компании «Franchising Time».
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="mentors__slider-card">
                                <div class="mentors__slider-image-container">
                                    <img data-src="img/mentors/6.jpg" alt="" class="mentors__slider-image lazyload">
                                </div>
                                <div class="mentors__slider-card-name">
                                    <div class="mentors__slider-card-first-name">
                                        Садыков
                                    </div>
                                    <div class="mentors__slider-card-last-name">
                                        Ильдар
                                    </div>
                                </div>
                                <div class="mentors__slider-card-description">
                                    <p>
                                        Основатель компания “Строй Инвест”.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="mentors__slider-card">
                                <div class="mentors__slider-image-container">
                                    <img data-src="img/mentors/7.jpg" alt="" class="mentors__slider-image lazyload">
                                </div>
                                <div class="mentors__slider-card-name">
                                    <div class="mentors__slider-card-first-name">
                                        Зиновьева
                                    </div>
                                    <div class="mentors__slider-card-last-name">
                                        Ольга
                                    </div>
                                </div>
                                <div class="mentors__slider-card-description">
                                    <p>
                                        Деятельность финансового советника, туризм, СМИ.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="mentors__slider-card">
                                <div class="mentors__slider-image-container">
                                    <img data-src="img/mentors/8.jpg" alt="" class="mentors__slider-image lazyload">
                                </div>
                                <div class="mentors__slider-card-name">
                                    <div class="mentors__slider-card-first-name">
                                        Валиева
                                    </div>
                                    <div class="mentors__slider-card-last-name">
                                        Илена
                                    </div>
                                </div>
                                <div class="mentors__slider-card-description">
                                    <p>
                                        Халяль кондитерская Ilenacake, изготовление кондитерских изделий, татарской
                                        выпечки, проведение кулинарных мастер-классов.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="teachers js-show-more">
    <div class="container">
        <div class="inner-container">
            <h2 class="section-heading teachers__heading">
                Преподаватели
            </h2>
            <div class="teachers__row">
                <div class="teachers__col">
                    <div class="teachers__large-text">
                        <p>
                            Качество обучения и вовлеченность ребенка зависит от качества преподавательского состава.
                        </p>
                    </div>
                </div>
                <div class="teachers__col">
                    <div class="teachers__small-text">
                        <p>
                            Каждый педагог имеет профильное высшее образование, а также проходит дополнительную
                            подготовку и аттестацию в нашем федеральном корпоративном университете.
                        </p>
                    </div>
                </div>
            </div>
            <ul class="teachers__list">
                <li class="teachers__list-item">
                    <div class="teachers__card">
                        <div class="teachers__card-image-container">
                            <img data-src="img/teachers/1.jpg" alt="" class="teachers__card-image lazyload">
                        </div>
                        <div class="teachers__card-content">
                            <div class="teachers__card-name">
                                <div class="teachers__card-last-name">
                                    Петровская
                                </div>
                                <div class="teachers__card-first-name">
                                    Елена Валерьевна
                                </div>
                            </div>
                            <div class="teachers__card-text">
                                <p>
                                    consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla
                                    facilisi nullam vehicula ipsum a arcu cursus vitae congue
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="teachers__list-item">
                    <div class="teachers__card">
                        <div class="teachers__card-image-container">
                            <img data-src="img/teachers/2.jpg" alt="" class="teachers__card-image lazyload">
                        </div>
                        <div class="teachers__card-content">
                            <div class="teachers__card-name">
                                <div class="teachers__card-last-name">
                                    Милехин
                                </div>
                                <div class="teachers__card-first-name">
                                    Мечеслав Анатольевич
                                </div>
                            </div>
                            <div class="teachers__card-text">
                                <p>
                                    consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla
                                    facilisi nullam vehicula ipsum a arcu cursus vitae congue
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="teachers__list-item">
                    <div class="teachers__card">
                        <div class="teachers__card-image-container">
                            <img data-src="img/teachers/3.jpg" alt="" class="teachers__card-image lazyload">
                        </div>
                        <div class="teachers__card-content">
                            <div class="teachers__card-name">
                                <div class="teachers__card-last-name">
                                    Кулешова
                                </div>
                                <div class="teachers__card-first-name">
                                    Зоря Сергеевна
                                </div>
                            </div>
                            <div class="teachers__card-text">
                                <p>
                                    consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla
                                    facilisi nullam vehicula ipsum a arcu cursus vitae congue
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="teachers__list-item">
                    <div class="teachers__card">
                        <div class="teachers__card-image-container">
                            <img data-src="img/teachers/4.jpg" alt="" class="teachers__card-image lazyload">
                        </div>
                        <div class="teachers__card-content">
                            <div class="teachers__card-name">
                                <div class="teachers__card-last-name">
                                    Алиев
                                </div>
                                <div class="teachers__card-first-name">
                                    Артемий Петрович
                                </div>
                            </div>
                            <div class="teachers__card-text">
                                <p>
                                    consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla
                                    facilisi nullam vehicula ipsum a arcu cursus vitae congue
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="teachers__list-item teachers__list-item--hidden">
                    <div class="teachers__card">
                        <div class="teachers__card-image-container">
                            <img data-src="img/teachers/1.jpg" alt="" class="teachers__card-image lazyload">
                        </div>
                        <div class="teachers__card-content">
                            <div class="teachers__card-name">
                                <div class="teachers__card-last-name">
                                    Петровская
                                </div>
                                <div class="teachers__card-first-name">
                                    Елена Валерьевна
                                </div>
                            </div>
                            <div class="teachers__card-text">
                                <p>
                                    consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla
                                    facilisi nullam vehicula ipsum a arcu cursus vitae congue
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="teachers__list-item teachers__list-item--hidden">
                    <div class="teachers__card">
                        <div class="teachers__card-image-container">
                            <img data-src="img/teachers/2.jpg" alt="" class="teachers__card-image lazyload">
                        </div>
                        <div class="teachers__card-content">
                            <div class="teachers__card-name">
                                <div class="teachers__card-last-name">
                                    Милехин
                                </div>
                                <div class="teachers__card-first-name">
                                    Мечеслав Анатольевич
                                </div>
                            </div>
                            <div class="teachers__card-text">
                                <p>
                                    consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla
                                    facilisi nullam vehicula ipsum a arcu cursus vitae congue
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="teachers__list-item teachers__list-item--hidden">
                    <div class="teachers__card">
                        <div class="teachers__card-image-container">
                            <img data-src="img/teachers/3.jpg" alt="" class="teachers__card-image lazyload">
                        </div>
                        <div class="teachers__card-content">
                            <div class="teachers__card-name">
                                <div class="teachers__card-last-name">
                                    Кулешова
                                </div>
                                <div class="teachers__card-first-name">
                                    Зоря Сергеевна
                                </div>
                            </div>
                            <div class="teachers__card-text">
                                <p>
                                    consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla
                                    facilisi nullam vehicula ipsum a arcu cursus vitae congue
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="teachers__list-item teachers__list-item--hidden">
                    <div class="teachers__card">
                        <div class="teachers__card-image-container">
                            <img data-src="img/teachers/4.jpg" alt="" class="teachers__card-image lazyload">
                        </div>
                        <div class="teachers__card-content">
                            <div class="teachers__card-name">
                                <div class="teachers__card-last-name">
                                    Алиев
                                </div>
                                <div class="teachers__card-first-name">
                                    Артемий Петрович
                                </div>
                            </div>
                            <div class="teachers__card-text">
                                <p>
                                    consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla
                                    facilisi nullam vehicula ipsum a arcu cursus vitae congue
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <a href="#" class="outline-btn outline-btn--wide teachers__link js-show-more-btn">
                Все преподаватели
            </a>
        </div>
    </div>
</section>


<section class="rating">
    <div class="container">
        <div class="inner-container">
            <div class="rating__row">
                <div class="rating__col">
                    <h2 class="rating__heading">
                        Ежемесячно мы составляем федеральный рейтинг преподавателей по 5 критериям:
                    </h2>
                    <ol class="rating__list">
                        <li class="rating__list-item">
                            вовлеченность детей
                        </li>
                        <li class="rating__list-item">
                            удовлетворенность родителей
                        </li>
                        <li class="rating__list-item">
                            качество знаний
                        </li>
                        <li class="rating__list-item">
                            удовлетворенность детей
                        </li>
                        <li class="rating__list-item">
                            качество проведенных занятий
                        </li>
                    </ol>
                </div>
                <div class="rating__col">
                    <div class="rating__photo-wrapper">
                        <img data-src="img/rating.jpg" alt="" class="rating__photo lazyload">
                        <div class="rating__photo-text">
                            <p>
                                Лучшие преподаватели получают дополнительный финансовый бонус от головной компании.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="environment">
    <div class="container">
        <div class="medium-container">
            <div class="environment__card">
                <div class="environment__card-bg">
                    <img data-src="img/environment.jpg" alt="" class="environment__card-bg-image lazyload">
                </div>
                <div class="inner-container">
                    <h2 class="section-heading environment__card-heading">
                        Окружение
                    </h2>
                </div>
            </div>

            <div class="inner-container">


                <div class="environment__row">
                    <div class="environment__col">
                        <div class="environment__large-text">
                            <p>
                                На нашем курсе ребенок находит единомышленников и развивается за счет сильного окружения
                                предпринимателей-наставников, учится защищать свой проект перед соратниками.
                            </p>
                        </div>
                    </div>
                    <div class="environment__col">

                        <a href="#demo-lesson" class="yellow-btn yellow-btn--wide environment__btn js-open-modal">
                            бесплатный пробный урок
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="environment">
    <div class="container">
        <div class="medium-container">
            <div class="environment__card">
                <div class="environment__card-bg">
                    <img data-src="img/excursions.jpg" alt="" class="environment__card-bg-image lazyload">
                </div>
                <div class="inner-container">
                    <h2 class="section-heading environment__card-heading">
                        Экскурсии
                    </h2>
                </div>
            </div>

            <div class="inner-container">
                <div class="environment__row">
                    <div class="environment__col">
                        <div class="environment__small-text">
                            <p>
                                Юные предприниматели посещают лучшие предприятия города, где на практике знакомятся с
                                бизнес-процессами компаний и знакомятся с их успешными владельцами.
                            </p>
                        </div>
                    </div>
                    <div class="environment__col">
                        <div class="environment__large-text">
                            <p>
                                Это придает детям внутренней уверенности в достижимости целей и развития лидерских
                                качеств.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="interactive-learning">
    <div class="container">
        <div class="inner-container">
            <div class="interactive-learning__row">
                <div class="interactive-learning__col">
                    <h2 class="section-heading interactive-learning__heading">
                        Интерактивное обучение
                    </h2>
                    <div class="interactive-learning__text">
                        <p>
                            У нас есть все для вовлечения ребенка в процесс обучения.
                        </p>
                        <p>
                            Мы создали собственный учебный портал, который в игровой форме поддерживает интерес ребенка
                            к учебе:
                        </p>
                    </div>
                    <ol class="interactive-learning__list">
                        <li class="interactive-learning__list-item">
                            Ребёнок смотрит видео
                        </li>
                        <li class="interactive-learning__list-item">
                            Выполняет задание
                        </li>
                        <li class="interactive-learning__list-item">
                            Получает баллы
                        </li>
                        <li class="interactive-learning__list-item">
                            Продвигается по уровням
                        </li>
                    </ol>
                </div>
                <div class="interactive-learning__col">
                    <img src="img/interactive.png" alt="" class="interactive-learning__image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="certificate">
    <div class="container">
        <div class="medium-container">
            <div class="certificate__row">
                <div class="certificate__image-wrapper">
                    <img src="img/certificate.jpg" alt="" class="certificate__image">
                </div>
                <h2 class="certificate__heading">
                    По окончании курса ребенок получает диплом государственного образца, дающий дополнительные баллы при
                    поступлении в ВУЗ
                </h2>
            </div>
        </div>
    </div>
</section>


<section class="child-business" id="child-business">
    <div class="container">
        <div class="inner-container">


            <h2 class="section-heading child-business__heading">
                О детском предпринимательстве
            </h2>

            <ul class="child-business__list">
                <li class="child-business__list-item">
                    <a href="https://www.youtube.com/watch?v=ok-plXXHlWw&ab_channel=Fireship"
                        class="child-business__card" data-fancybox="video">
                        <div class="child-business__card-container">
                            <img data-src="img/child-business/1.jpg" alt="" class="child-business__card-image lazyload">
                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                        <h3 class="child-business__card-title">
                            Образовательный курс "Фабрика Предпринимательства Дети"
                        </h3>
                    </a>
                </li>
                <li class="child-business__list-item">
                    <a href="https://www.youtube.com/watch?v=ok-plXXHlWw&ab_channel=Fireship"
                        class="child-business__card" data-fancybox="video">
                        <div class="child-business__card-container">
                            <img data-src="img/child-business/2.jpg" alt="" class="child-business__card-image lazyload">
                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                        <h3 class="child-business__card-title">
                            Что дает "Фабрика Предпринимательства Дети" вашему ребенку
                        </h3>
                    </a>
                </li>
                <li class="child-business__list-item">
                    <a href="https://www.youtube.com/watch?v=ok-plXXHlWw&ab_channel=Fireship"
                        class="child-business__card" data-fancybox="video">
                        <div class="child-business__card-container">
                            <img data-src="img/child-business/3.jpg" alt="" class="child-business__card-image lazyload">
                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                        <h3 class="child-business__card-title">
                            "Фабрика Предпринимательства Дети" на канале "Россия 1"
                        </h3>
                    </a>
                </li>
                <li class="child-business__list-item">
                    <a href="https://www.youtube.com/watch?v=ok-plXXHlWw&ab_channel=Fireship"
                        class="child-business__card" data-fancybox="video">
                        <div class="child-business__card-container">
                            <img data-src="img/child-business/4.jpg" alt="" class="child-business__card-image lazyload">
                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                        <h3 class="child-business__card-title">
                            Президент Татарстана на выставке выпускников «Фабрики предпринимательства»
                        </h3>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="achievements">
    <div class="container">
        <div class="inner-container">
            <h2 class="section-heading achievements__heading">
                Достижения наших учеников
            </h2>
            <div class="achievements__slider js-achivements-slider">
                <div class="swiper-container">
                    <ul class="swiper-wrapper achievements__list">
                        <li class="swiper-slide achievements__list-item">
                            <div class="achievements__card">
                                <div class="achievements__card-row">
                                    <div class="achievements__card-photo-container">
                                        <img data-src="img/achievements/1.jpg" alt=""
                                            class="achievements__card-photo lazyload">
                                    </div>
                                    <div class="achievements__card-content">
                                        <h2 class="achievements__card-title">
                                            Мурнов Никита<br>
                                            14 лет
                                        </h2>
                                        <div class="achievements__card-text">
                                            «ВкусностиН» — производство натурального шоколада
                                        </div>
                                        <div class="achievements__card-profit">
                                            <div class="achievements__card-profit-title">
                                                Прибыль по итогам курса
                                            </div>
                                            <div class="achievements__card-profit-amount">
                                                18 550 р.
                                            </div>
                                        </div>
                                        <a href="#" class="achievements__card-link">
                                            @vkusniatin_kzn
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide achievements__list-item">
                            <div class="achievements__card">
                                <div class="achievements__card-row">
                                    <div class="achievements__card-photo-container">
                                        <img data-src="img/achievements/2.jpg" alt=""
                                            class="achievements__card-photo lazyload">
                                    </div>
                                    <div class="achievements__card-content">
                                        <h2 class="achievements__card-title">
                                            Гаврилов Ислам <br>
                                            Сергеевич
                                        </h2>
                                        <div class="achievements__card-text">
                                            ПП кондитер
                                        </div>
                                        <div class="achievements__card-profit">
                                            <div class="achievements__card-profit-title">
                                                Прибыль по итогам курса
                                            </div>
                                            <div class="achievements__card-profit-amount">
                                                более 25 000 р.
                                            </div>
                                        </div>
                                        <a href="#" class="achievements__card-link">
                                            @pp_peku_poleznoe
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="reviews js-show-more">
    <div class="container">
        <div class="inner-container">
            <h2 class="section-heading reviews__heading">
                Отзывы родителей в Москве
            </h2>
            <ul class="reviews__list">
                <li class="reviews__list-item">
                    <a href="https://www.youtube.com/watch?v=ok-plXXHlWw&ab_channel=Fireship" class="reviews__card"
                        data-fancybox="review">
                        <div class="reviews__card-top-row">
                            <div class="reviews__card-photo-container">
                                <div class="reviews__card-photo-wrapper">


                                    <img data-src="img/reviews/1.jpg" alt="" class="reviews__card-photo lazyload">
                                </div>
                            </div>
                            <div class="reviews__card-author">
                                <div class="reviews__card-name">
                                    Динара
                                </div>
                                <div class="reviews__card-author-role">
                                    мамы ученика “Фабрика Предпринимательства Дети”
                                </div>
                            </div>
                        </div>
                        <div class="reviews__card-text">
                            <p>
                                Не факт, что общество потребления ускоряет креативный нишевый проект, оптимизируя
                                бюджеты. Традиционный канал, пренебрегая деталями, исключительно стабилизирует жизненный
                                цикл продукции. Медиаплан конкурентоспособен.
                            </p>
                        </div>
                        <div class="reviews__card-watch">
                            смотреть видео-отзыв
                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="reviews__list-item">
                    <a href="https://www.youtube.com/watch?v=ok-plXXHlWw&ab_channel=Fireship" class="reviews__card"
                        data-fancybox="review">
                        <div class="reviews__card-top-row">
                            <div class="reviews__card-photo-container">
                                <div class="reviews__card-photo-wrapper">


                                    <img data-src="img/reviews/2.jpg" alt="" class="reviews__card-photo lazyload">
                                </div>
                            </div>
                            <div class="reviews__card-author">
                                <div class="reviews__card-name">
                                    Динара
                                </div>
                                <div class="reviews__card-author-role">
                                    мамы ученика “Фабрика Предпринимательства Дети”
                                </div>
                            </div>
                        </div>
                        <div class="reviews__card-text">
                            <p>
                                Не факт, что общество потребления ускоряет креативный нишевый проект, оптимизируя
                                бюджеты. Традиционный канал, пренебрегая деталями, исключительно стабилизирует жизненный
                                цикл продукции. Медиаплан конкурентоспособен.
                            </p>
                        </div>
                        <div class="reviews__card-watch">
                            смотреть видео-отзыв
                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="reviews__list-item">
                    <a href="https://www.youtube.com/watch?v=ok-plXXHlWw&ab_channel=Fireship" class="reviews__card"
                        data-fancybox="review">
                        <div class="reviews__card-top-row">
                            <div class="reviews__card-photo-container">
                                <div class="reviews__card-photo-wrapper">


                                    <img data-src="img/reviews/3.jpg" alt="" class="reviews__card-photo lazyload">
                                </div>
                            </div>
                            <div class="reviews__card-author">
                                <div class="reviews__card-name">
                                    Динара
                                </div>
                                <div class="reviews__card-author-role">
                                    мамы ученика “Фабрика Предпринимательства Дети”
                                </div>
                            </div>
                        </div>
                        <div class="reviews__card-text">
                            <p>
                                Не факт, что общество потребления ускоряет креативный нишевый проект, оптимизируя
                                бюджеты. Традиционный канал, пренебрегая деталями, исключительно стабилизирует жизненный
                                цикл продукции. Медиаплан конкурентоспособен.
                            </p>
                        </div>
                        <div class="reviews__card-watch">
                            смотреть видео-отзыв
                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="reviews__list-item">
                    <a href="https://www.youtube.com/watch?v=ok-plXXHlWw&ab_channel=Fireship" class="reviews__card"
                        data-fancybox="review">
                        <div class="reviews__card-top-row">
                            <div class="reviews__card-photo-container">
                                <div class="reviews__card-photo-wrapper">


                                    <img data-src="img/reviews/4.jpg" alt="" class="reviews__card-photo lazyload">
                                </div>
                            </div>
                            <div class="reviews__card-author">
                                <div class="reviews__card-name">
                                    Динара
                                </div>
                                <div class="reviews__card-author-role">
                                    мамы ученика “Фабрика Предпринимательства Дети”
                                </div>
                            </div>
                        </div>
                        <div class="reviews__card-text">
                            <p>
                                Не факт, что общество потребления ускоряет креативный нишевый проект, оптимизируя
                                бюджеты. Традиционный канал, пренебрегая деталями, исключительно стабилизирует жизненный
                                цикл продукции. Медиаплан конкурентоспособен.
                            </p>
                        </div>
                        <div class="reviews__card-watch">
                            смотреть видео-отзыв
                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="reviews__list-item reviews__list-item--hidden">
                    <a href="https://www.youtube.com/watch?v=ok-plXXHlWw&ab_channel=Fireship" class="reviews__card"
                        data-fancybox="review">
                        <div class="reviews__card-top-row">
                            <div class="reviews__card-photo-container">
                                <div class="reviews__card-photo-wrapper">


                                    <img data-src="img/reviews/1.jpg" alt="" class="reviews__card-photo lazyload">
                                </div>
                            </div>
                            <div class="reviews__card-author">
                                <div class="reviews__card-name">
                                    Динара
                                </div>
                                <div class="reviews__card-author-role">
                                    мамы ученика “Фабрика Предпринимательства Дети”
                                </div>
                            </div>
                        </div>
                        <div class="reviews__card-text">
                            <p>
                                Не факт, что общество потребления ускоряет креативный нишевый проект, оптимизируя
                                бюджеты. Традиционный канал, пренебрегая деталями, исключительно стабилизирует жизненный
                                цикл продукции. Медиаплан конкурентоспособен.
                            </p>
                        </div>
                        <div class="reviews__card-watch">
                            смотреть видео-отзыв
                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="reviews__list-item reviews__list-item--hidden">
                    <a href="https://www.youtube.com/watch?v=ok-plXXHlWw&ab_channel=Fireship" class="reviews__card"
                        data-fancybox="review">
                        <div class="reviews__card-top-row">
                            <div class="reviews__card-photo-container">
                                <div class="reviews__card-photo-wrapper">


                                    <img data-src="img/reviews/2.jpg" alt="" class="reviews__card-photo lazyload">
                                </div>
                            </div>
                            <div class="reviews__card-author">
                                <div class="reviews__card-name">
                                    Динара
                                </div>
                                <div class="reviews__card-author-role">
                                    мамы ученика “Фабрика Предпринимательства Дети”
                                </div>
                            </div>
                        </div>
                        <div class="reviews__card-text">
                            <p>
                                Не факт, что общество потребления ускоряет креативный нишевый проект, оптимизируя
                                бюджеты. Традиционный канал, пренебрегая деталями, исключительно стабилизирует жизненный
                                цикл продукции. Медиаплан конкурентоспособен.
                            </p>
                        </div>
                        <div class="reviews__card-watch">
                            смотреть видео-отзыв
                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="reviews__list-item reviews__list-item--hidden">
                    <a href="https://www.youtube.com/watch?v=ok-plXXHlWw&ab_channel=Fireship" class="reviews__card"
                        data-fancybox="review">
                        <div class="reviews__card-top-row">
                            <div class="reviews__card-photo-container">
                                <div class="reviews__card-photo-wrapper">


                                    <img data-src="img/reviews/3.jpg" alt="" class="reviews__card-photo lazyload">
                                </div>
                            </div>
                            <div class="reviews__card-author">
                                <div class="reviews__card-name">
                                    Динара
                                </div>
                                <div class="reviews__card-author-role">
                                    мамы ученика “Фабрика Предпринимательства Дети”
                                </div>
                            </div>
                        </div>
                        <div class="reviews__card-text">
                            <p>
                                Не факт, что общество потребления ускоряет креативный нишевый проект, оптимизируя
                                бюджеты. Традиционный канал, пренебрегая деталями, исключительно стабилизирует жизненный
                                цикл продукции. Медиаплан конкурентоспособен.
                            </p>
                        </div>
                        <div class="reviews__card-watch">
                            смотреть видео-отзыв
                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="reviews__list-item reviews__list-item--hidden">
                    <a href="https://www.youtube.com/watch?v=ok-plXXHlWw&ab_channel=Fireship" class="reviews__card"
                        data-fancybox="review">
                        <div class="reviews__card-top-row">
                            <div class="reviews__card-photo-container">
                                <div class="reviews__card-photo-wrapper">


                                    <img data-src="img/reviews/4.jpg" alt="" class="reviews__card-photo lazyload">
                                </div>
                            </div>
                            <div class="reviews__card-author">
                                <div class="reviews__card-name">
                                    Динара
                                </div>
                                <div class="reviews__card-author-role">
                                    мамы ученика “Фабрика Предпринимательства Дети”
                                </div>
                            </div>
                        </div>
                        <div class="reviews__card-text">
                            <p>
                                Не факт, что общество потребления ускоряет креативный нишевый проект, оптимизируя
                                бюджеты. Традиционный канал, пренебрегая деталями, исключительно стабилизирует жизненный
                                цикл продукции. Медиаплан конкурентоспособен.
                            </p>
                        </div>
                        <div class="reviews__card-watch">
                            смотреть видео-отзыв
                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                    </a>
                </li>
            </ul>
            <a href="#" class="outline-btn outline-btn--wide reviews__link js-show-more-btn">
                Все отзывы
            </a>
        </div>
    </div>
</section>


<section class="results">
    <div class="container">
        <div class="inner-container">
            <h2 class="section-heading results__heading">
                Основные достижения проекта
            </h2>
            <ul class="results__list">
                <li class="results__list-item">
                    <div class="results__card">
                        <div class="results__card-image-container">
                            <img src="img/results/1.jpg" alt="" class="results__card-image">
                        </div>
                        <div class="results__card-content">
                            <h3 class="results__card-title">
                                <b>2018</b> год
                            </h3>
                            <div class="results__card-text">
                                <p>
                                    Первое место на Всероссийском конкурсе «Наставник» АНО «Агентства стратегических
                                    инициатив» в номинации «Наставничество в сфере предпринимательства»
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="results__list-item">
                    <div class="results__card">
                        <div class="results__card-image-container">
                            <img src="img/results/2.jpg" alt="" class="results__card-image">
                        </div>
                        <div class="results__card-content">
                            <h3 class="results__card-title">
                                <b>2019</b> год
                            </h3>
                            <div class="results__card-text">
                                <p>
                                    Включена в перечень рекомендованных программ в рамках реализации национального
                                    проекта «МСП и поддержка индивидуальной предпринимательской инициативы», одобрена
                                    Минэкономразвития РФ
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="results__list-item">
                    <div class="results__card">
                        <div class="results__card-image-container">
                            <img src="img/results/3.jpg" alt="" class="results__card-image">
                        </div>
                        <div class="results__card-content">
                            <h3 class="results__card-title">
                                <b>Каждый</b> год
                            </h3>
                            <div class="results__card-text">
                                <p>
                                    Компания проводит “Всероссийскую Олимпиаду по предпринимательству и финансовой
                                    грамотности» с охватом более 5 000 человек.
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="founder">
    <div class="container">
        <div class="inner-container">
            <div class="founder__row">
                <div class="founder__col">
                    <h2 class="section-heading founder__heading">
                        Основатель проекта
                    </h2>
                    <div class="founder__info">
                        <h3 class="founder__name">
                            Айдар Булатов
                        </h3>
                        <div class="founder__role">
                            <p>
                                Доктор экономических наук.<br>
                                Заслуженный экономист Республики Татарстан
                            </p>
                        </div>
                        <div class="founder__text-content">
                            <p>
                                Председатель Совета Директоров группы компаний «BulatovGroup» - оборот компании более
                                600 000 000 рублей в год

                            </p>
                            <p>
                                Лауреат первого всероссийского конкурса «Лучшие практики наставничества» — первое место
                                в номинации «Наставничество в бизнесе и предпринимательстве
                            </p>
                        </div>
                    </div>
                </div>
                <div class="founder__col">
                    <img data-src="img/founder.jpg" alt="" class="founder__image lazyload">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="faq">
    <div class="container">
        <div class="inner-container">
            <h2 class="section-heading faq__heading">
                ТОП 6 вопросов от родителей:
            </h2>
            <div class="faq__accordions">
                <div class="faq__accordion js-accordion" data-close-other="">
                    <div class="faq__accordion-btn js-accordion-btn">
                        <div class="faq__accordion-btn-text">
                            Не слишком ли рано ребенка 8-9 лет обучать навыкам предпринимательства?
                        </div>

                        <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                            <use xlink:href="#plus"></use>
                        </svg>
                    </div>
                    <div class="faq__accordion-content js-accordion-content">
                        <div class="faq__accordion-content-inner">
                            <p>
                                Предпринимательство — это не банальное «купи-продай», а жизненная позиция, основанная на
                                личной ответственности, мотивации и стремлении реализовать свои идеи. Как замечают
                                родители наших учеников, ребенок начинает самостоятельно планировать свой день,
                                распределять свое время и повышается его успеваемость по основной учебе.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq__accordion js-accordion" data-close-other="">
                    <div class="faq__accordion-btn js-accordion-btn">
                        <div class="faq__accordion-btn-text">
                            Неужели дети 8 лет смогут заработать деньги?
                        </div>

                        <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                            <use xlink:href="#plus"></use>
                        </svg>
                    </div>
                    <div class="faq__accordion-content js-accordion-content">
                        <div class="faq__accordion-content-inner">
                            <p>
                                Предпринимательство — это не банальное «купи-продай», а жизненная позиция, основанная на
                                личной ответственности, мотивации и стремлении реализовать свои идеи. Как замечают
                                родители наших учеников, ребенок начинает самостоятельно планировать свой день,
                                распределять свое время и повышается его успеваемость по основной учебе.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq__accordion js-accordion" data-close-other="">
                    <div class="faq__accordion-btn js-accordion-btn">
                        <div class="faq__accordion-btn-text">
                            Если ребенку не понравится?
                        </div>

                        <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                            <use xlink:href="#plus"></use>
                        </svg>
                    </div>
                    <div class="faq__accordion-content js-accordion-content">
                        <div class="faq__accordion-content-inner">
                            <p>
                                Предпринимательство — это не банальное «купи-продай», а жизненная позиция, основанная на
                                личной ответственности, мотивации и стремлении реализовать свои идеи. Как замечают
                                родители наших учеников, ребенок начинает самостоятельно планировать свой день,
                                распределять свое время и повышается его успеваемость по основной учебе.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq__accordion js-accordion" data-close-other="">
                    <div class="faq__accordion-btn js-accordion-btn">
                        <div class="faq__accordion-btn-text">
                            Как это все проходит?
                        </div>

                        <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                            <use xlink:href="#plus"></use>
                        </svg>
                    </div>
                    <div class="faq__accordion-content js-accordion-content">
                        <div class="faq__accordion-content-inner">
                            <p>
                                Предпринимательство — это не банальное «купи-продай», а жизненная позиция, основанная на
                                личной ответственности, мотивации и стремлении реализовать свои идеи. Как замечают
                                родители наших учеников, ребенок начинает самостоятельно планировать свой день,
                                распределять свое время и повышается его успеваемость по основной учебе.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq__accordion js-accordion" data-close-other="">
                    <div class="faq__accordion-btn js-accordion-btn">
                        <div class="faq__accordion-btn-text">
                            Что получит ребенок при окончании курса?
                        </div>

                        <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                            <use xlink:href="#plus"></use>
                        </svg>
                    </div>
                    <div class="faq__accordion-content js-accordion-content">
                        <div class="faq__accordion-content-inner">
                            <p>
                                Предпринимательство — это не банальное «купи-продай», а жизненная позиция, основанная на
                                личной ответственности, мотивации и стремлении реализовать свои идеи. Как замечают
                                родители наших учеников, ребенок начинает самостоятельно планировать свой день,
                                распределять свое время и повышается его успеваемость по основной учебе.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq__accordion js-accordion" data-close-other="">
                    <div class="faq__accordion-btn js-accordion-btn">
                        <div class="faq__accordion-btn-text">
                            Мы задумываемся о переезде, сможем ли продолжить обучение ребенка в другом городе?
                        </div>

                        <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                            <use xlink:href="#plus"></use>
                        </svg>
                    </div>
                    <div class="faq__accordion-content js-accordion-content">
                        <div class="faq__accordion-content-inner">
                            <p>
                                Предпринимательство — это не банальное «купи-продай», а жизненная позиция, основанная на
                                личной ответственности, мотивации и стремлении реализовать свои идеи. Как замечают
                                родители наших учеников, ребенок начинает самостоятельно планировать свой день,
                                распределять свое время и повышается его успеваемость по основной учебе.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#demo-lesson" class="yellow-btn yellow-btn--wide faq__link js-open-modal">
                бесплатный пробный урок
            </a>
        </div>
    </div>
</section>


<section class="where-to-find">
    <div class="container">
        <div class="inner-container">
            <h2 class="section-heading where-to-find__heading">
                Как нас найти?
            </h2>
        </div>
        <div class="medium-container">
            <div class="where-to-find__mobile-info">
                <div class="where-to-find__mobile-info-items">
                    <div class="where-to-find__mobile-info-item">
                        <div class="where-to-find__mobile-info-item-key">
                            адрес:
                        </div>
                        <div class="where-to-find__mobile-info-item-value"> ул. Бутлерова, дом 4</div>
                    </div>
                    <div class="where-to-find__mobile-info-item">
                        <div class="where-to-find__mobile-info-item-key">
                            телефон:
                        </div>
                        <div class="where-to-find__mobile-info-item-value"> +7 (987) 654 - 32 - 10</div>
                    </div>
                </div>
                <a href="#" class="where-to-find__mobile-link">
                    instagram
                </a>
            </div>
            <div class="where-to-find__map-container">
                <div class="where-to-find__map js-map" data-coords="55.786551, 49.126186"
                    data-address="ул. Бутлерова, дом 4" data-phone="+7 (987) 654 - 32 - 10"
                    data-instagram="instagram.com" data-center="55.791874, 49.118235" data-vk="vk.com">

                </div>
            </div>
        </div>
    </div>
</section>

<section class="has-questions">
    <div class="container">
        <div class="inner-container">
            <div class="has-questions__row">
                <div class="has-questions__heading-block">
                    <h2 class="section-heading has-questions__heading">
                        Остались вопросы?
                    </h2>
                    <div class="has-questions__heading-text">
                        <p>
                            Свяжитесь с нами любым удобным способом
                        </p>
                    </div>
                </div>
            </div>
            <div class="has-questions__row">
                <div class="has-questions__col">
                    <div class="has-questions__contacts">
                        <div class="has-questions__contacts-block">
                            <h3 class="has-questions__contacts-block-heading">
                                телефон / whatsapp
                            </h3>
                            <a href="tel:+79600429816" class="has-questions__contacts-block-link">
                                +7 960 042 98 16
                            </a>
                            <div class="has-questions__contacts-block-description">
                                <p>
                                    Алина, эксперт по развитию
                                    вашего ребенка

                                </p>
                            </div>
                        </div>
                        <div class="has-questions__contacts-block">
                            <h3 class="has-questions__contacts-block-heading">
                                телефон / whatsapp
                            </h3>
                            <a href="tel:+79656198032" class="has-questions__contacts-block-link">
                                +7 965 619 80 32
                            </a>
                            <div class="has-questions__contacts-block-description">
                                <p>
                                    Айрат , эксперт по развитию
                                    вашего ребенка



                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="has-questions__col">
                    <form action="/" method="POST" class="has-questions__form" data-need-validation="">
                        <div class="has-questions__form-fields">
                            <div class="has-questions__form-field">
                                <input type="text" name="name" class="has-questions__form-input" placeholder="Ваше имя" required="">
                            </div>
                            <div class="has-questions__form-field" id="country">
                                <div class="has-questions__form-select-country js-select-country">
                                    <div class="has-questions__form-select-country-current js-select-btn">
                                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/320/apple/325/flag-russia_1f1f7-1f1fa.png"
                                            class="js-current-flag" alt="">
                                    </div>

                                    <input type="tel" name="phone"
                                        class="has-questions__form-input js-select-country-input"
                                        placeholder="+7 (___) ___ - __ - __" data-parsley-errors-container="#country" data-parsley-class-handler="#country" required="" data-parsley-country="" >
                                    <div class="has-questions__form-select-country-dropdown">
                                        <div class="has-questions__form-select-country-dropdown-inner">
                                            <ul class="has-questions__form-select-country-list">
                                                <li class="has-questions__form-select-country-list-item">
                                                    <div class="has-questions__form-select-country-card js-select-country-card"
                                                        data-mask="+7 (999) 999-99-99"
                                                        data-placeholder="+7 (___) ___ - __ - __">

                                                        Россия
                                                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/320/apple/325/flag-russia_1f1f7-1f1fa.png"
                                                            alt="">
                                                        +7
                                                    </div>
                                                </li>
                                                <li class="has-questions__form-select-country-list-item">
                                                    <div class="has-questions__form-select-country-card js-select-country-card"
                                                        data-mask="+375-99-999-99-99"
                                                        data-placeholder="+375-__-___-__-__">
                                                        Беларусь
                                                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/325/flag-belarus_1f1e7-1f1fe.png"
                                                            alt="">
                                                        +375
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="has-questions__form-field">
                                <input type="text" name="comment" class="has-questions__form-input"
                                    placeholder="Комментарий">
                            </div>
                            <div class="has-questions__form-field">
                                <label class="has-questions__form-checkbox">
                                    <input type="checkbox" class="has-questions__form-checkbox-input" name="policy"
                                        value="Y" required>
                                    <span class="has-questions__form-checkbox-mark">

                                    </span>
                                    <span class="has-questions__form-checkbox-text">
                                        Я подтверждаю свое согласие на обработку моих персональных данных в соответствии
                                        с <a href="#policy-modal" class="js-open-modal">Политикой конфиденциальности</a>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <button class="yellow-btn yellow-btn--wide has-questions__form-submit" type="submit">
                            Отправить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}