{{#extend "layout"}}
{{#content "main"}}


<section class="intro">
    <div class="container">
        <div class="inner-container">
            <div class="intro__row">
                <h1 class="intro__heading">
                    Инвестируйте
                    в&nbsp;успешное будущее ребенка
                </h1>
                <div class="intro__text">
                    <p>
                        Авторский курс для детей и подростков 8 — 16 лет по развитию предпринимательского мышления и
                        компетенций от школы наставничества №1 в России.
                    </p>
                </div>
                <a href="#" class="outline-btn intro__link">
                    бесплатный пробный урок
                </a>
            </div>

        </div>
        <div class="intro__image-wrapper">
            <img data-src="img/intro.jpg" alt="" class="intro__image lazyload">
        </div>
    </div>
</section>


<section class="will-learn js-will-learn">
    <div class="container">
        <div class="inner-container">


            <h2 class="section-heading will-learn__heading">
                На нашем курсе ребенок научится:
            </h2>
            <div class="will-learn__sliders">
                <div class="will-learn__slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Финансовой грамотности
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Публичные выступления
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Формирование команды
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Лидерство
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Эмоциональный интеллект
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Принятие взвешенных решений
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Целеполагание
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Грамотное использование соц. сетей
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="will-learn__slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Ораторское мастерство
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Работа в команде
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Ответственность
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Основы маркетинга и продаж
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Планирование своего графика
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Навыки самопрезентации
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Оценка бизнес-идей
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="will-learn__slider-card">
                                    Деловой этикет
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="formats">
    <div class="container">
        <div class="inner-container">
            <h2 class="section-heading formats__heading">
                Мы проводим обучение<br> в разных форматах
            </h2>
            <ul class="formats__list">
                <li class="formats__list-item">
                    <div class="formats__card">
                        <div class="formats__card-image-container">
                            <img data-src="img/formats/1.jpg" alt="" class="formats__card-image lazyload">
                        </div>
                        <h3 class="formats__card-title">
                            Офлайн обучение
                        </h3>
                    </div>
                </li>
                <li class="formats__list-item">
                    <div class="formats__card">
                        <div class="formats__card-image-container">
                            <img data-src="img/formats/2.jpg" alt="" class="formats__card-image lazyload">
                        </div>
                        <h3 class="formats__card-title">
                            Офлайн обучение
                        </h3>
                    </div>
                </li>
                <li class="formats__list-item">
                    <div class="formats__card">
                        <div class="formats__card-image-container">
                            <img data-src="img/formats/3.jpg" alt="" class="formats__card-image lazyload">
                        </div>
                        <h3 class="formats__card-title">
                            Детский лагерь
                        </h3>
                    </div>
                </li>
                <li class="formats__list-item">
                    <div class="formats__card">
                        <div class="formats__card-image-container">
                            <img data-src="img/formats/4.jpg" alt="" class="formats__card-image lazyload">
                        </div>
                        <h3 class="formats__card-title">
                            Экскурсии
                        </h3>
                    </div>
                </li>
            </ul>

            <ul class="formats__ages-list">
                <li class="formats__ages-list-item">
                    <div class="formats__ages-card">
                        <div class="formats__ages-card-age">
                            <div class="formats__ages-card-amount">
                                9
                            </div>
                            <div class="formats__ages-card-unit">
                                месяцев
                            </div>
                        </div>
                        <div class="formats__ages-card-text">
                            <p>
                                Длительность обучения
                            </p>
                        </div>
                    </div>
                </li>
                <li class="formats__ages-list-item">
                    <div class="formats__ages-card">
                        <div class="formats__ages-card-age">
                            <div class="formats__ages-card-amount">
                                4 - 16
                            </div>
                            <div class="formats__ages-card-unit">
                                лет
                            </div>
                        </div>
                        <div class="formats__ages-card-text">
                            <p>
                                Возраст наших учеников
                            </p>
                        </div>
                    </div>
                </li>
                <li class="formats__ages-list-item">
                    <div class="formats__ages-card">
                        <div class="formats__ages-card-age">
                            <div class="formats__ages-card-amount">
                                20
                            </div>
                            <div class="formats__ages-card-unit">
                                детей
                            </div>
                        </div>
                        <div class="formats__ages-card-text">
                            <p>
                                Средний размер группы
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="geography">
    <div class="container">
        <div class="medium-container">
            <div class="geography__map">
                <div class="geography__map-image-wrapper">
                    <img data-src="img/geography-map.jpg" alt="" class="geography__map-image lazyload">
                </div>
                <div class="inner-container">
                    <h2 class="section-heading geography__map-title">
                        Крупнейшая сеть детских бизнес-школ в мире.
                    </h2>
                </div>
            </div>
        </div>
        <div class="inner-container">
            <div class="geography__numbers">
                <ul class="geography__numbers-list">
                    <li class="geography__numbers-list-item">
                        <div class="geography__numbers-card">
                            <div class="geography__numbers-card-digit">
                                7
                            </div>
                            <div class="geography__numbers-card-text">
                                лет работы
                            </div>
                        </div>
                    </li>
                    <li class="geography__numbers-list-item">
                        <div class="geography__numbers-card">
                            <div class="geography__numbers-card-digit">
                                6
                            </div>
                            <div class="geography__numbers-card-text">
                                Стран
                            </div>
                        </div>
                    </li>
                    <li class="geography__numbers-list-item">
                        <div class="geography__numbers-card">
                            <div class="geography__numbers-card-digit">
                                20 000
                            </div>
                            <div class="geography__numbers-card-text">
                                успешных проектов
                            </div>
                        </div>
                    </li>
                    <li class="geography__numbers-list-item">
                        <div class="geography__numbers-card">
                            <div class="geography__numbers-card-digit">
                                30 000
                            </div>
                            <div class="geography__numbers-card-text">
                                учеников
                            </div>
                        </div>
                    </li>
                    <li class="geography__numbers-list-item">
                        <div class="geography__numbers-card">
                            <div class="geography__numbers-card-digit">
                                75+
                            </div>
                            <div class="geography__numbers-card-text">
                                центров
                            </div>
                        </div>
                    </li>
                    <li class="geography__numbers-list-item">
                        <div class="geography__numbers-card">
                            <div class="geography__numbers-card-digit">
                                450
                            </div>
                            <div class="geography__numbers-card-text">
                                наставников
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="#" class="yellow-btn yellow-btn--wide geography__free-lesson">
                    бесплатный пробный урок
                </a>
            </div>
        </div>
    </div>
</section>


<section class="our-partners">
    <div class="container">
        <div class="inner-container">
            <h2 class="section-heading our-partners__heading">
                Наши партнеры
            </h2>
        </div>
        <div class="medium-container">
            <div class="our-partners__slider js-partners-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="our-partners__slider-card">
                                <img src="img/partners/1.jpg" alt="" class="our-partners__slider-card-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="our-partners__slider-card">
                                <img src="img/partners/2.jpg" alt="" class="our-partners__slider-card-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="our-partners__slider-card">
                                <img src="img/partners/3.jpg" alt="" class="our-partners__slider-card-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="our-partners__slider-card">
                                <img src="img/partners/4.jpg" alt="" class="our-partners__slider-card-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="our-partners__slider-card">
                                <img src="img/partners/5.jpg" alt="" class="our-partners__slider-card-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="our-partners__slider-card">
                                <img src="img/partners/6.jpg" alt="" class="our-partners__slider-card-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="our-partners__slider-card">
                                <img src="img/partners/7.jpg" alt="" class="our-partners__slider-card-image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="why-love">
    <div class="container">
        <div class="why-love__card">
            <div class="why-love__card-bg">
                <img data-src="img/why-love.jpg" alt="" class="why-love__card-bg-image lazyload">
            </div>
            <div class="inner-container">
                <h2 class="section-heading why-love__card-heading">
                    Почему дети любят фабрику?
                </h2>
            </div>
        </div>
    </div>
</section>


<section class="mentors">
    <div class="container">
        <div class="inner-container">
            <h2 class="section-heading mentors__heading">
                Бизнес — наставники
            </h2>
            <div class="mentors__image-wrapper">
                <div class="mentors__image-wrapper-bg">
                    <img data-src="img/mentors.jpg" alt="" class="mentors__image-wrapper-bg-image lazyload">
                </div>
                <h3 class="mentors__image-wrapper-heading">
                    Каждый ученик развивает собственный бизнес-проект под руководством личного наставника.
                </h3>
            </div>
            <div class="mentors__small-text">
                <p>
                    Наши наставники это успешные, грамотные и интересные предприниматели, которые проводят яркие
                    мастер-классы. Они вдохновляют собственным примером потому что на практике знают, как все устроено.
                </p>
            </div>
            <div class="mentors__slider js-mentors-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="mentors__slider-card">
                                <div class="mentors__slider-image-container">
                                    <img data-src="img/mentors/1.jpg" alt="" class="mentors__slider-image lazyload">
                                </div>
                                <div class="mentors__slider-card-role">
                                    SEO-специалист
                                </div>
                                <div class="mentors__slider-card-info">
                                    <div class="mentors__slider-card-last-name">
                                        Колесников
                                    </div>
                                    <div class="mentors__slider-card-name">
                                        Игорь Владиславович
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="mentors__slider-card">
                                <div class="mentors__slider-image-container">
                                    <img data-src="img/mentors/2.jpg" alt="" class="mentors__slider-image lazyload">
                                </div>
                                <div class="mentors__slider-card-role">
                                    SMM
                                </div>
                                <div class="mentors__slider-card-info">
                                    <div class="mentors__slider-card-last-name">
                                        Светлакова
                                    </div>
                                    <div class="mentors__slider-card-name">
                                        София Леоновна
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="mentors__slider-card">
                                <div class="mentors__slider-image-container">
                                    <img data-src="img/mentors/3.jpg" alt="" class="mentors__slider-image lazyload">
                                </div>
                                <div class="mentors__slider-card-role">
                                    Контент-менеджер
                                </div>
                                <div class="mentors__slider-card-info">
                                    <div class="mentors__slider-card-last-name">
                                        Щербаков
                                    </div>
                                    <div class="mentors__slider-card-name">
                                        Илья Андреевич
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="mentors__slider-card">
                                <div class="mentors__slider-image-container">
                                    <img data-src="img/mentors/4.jpg" alt="" class="mentors__slider-image lazyload">
                                </div>
                                <div class="mentors__slider-card-role">
                                    Копирайтер
                                </div>
                                <div class="mentors__slider-card-info">
                                    <div class="mentors__slider-card-last-name">
                                        Трофимов
                                    </div>
                                    <div class="mentors__slider-card-name">
                                        Мирон Миронович
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="mentors__slider-card">
                                <div class="mentors__slider-image-container">
                                    <img data-src="img/mentors/5.jpg" alt="" class="mentors__slider-image lazyload">
                                </div>
                                <div class="mentors__slider-card-role">
                                    Линкбилдер
                                </div>
                                <div class="mentors__slider-card-info">
                                    <div class="mentors__slider-card-last-name">
                                        Синицина
                                    </div>
                                    <div class="mentors__slider-card-name">
                                        Василиса Игоревна
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="teachers">
    <div class="container">
        <div class="inner-container">
            <h2 class="section-heading teachers__heading">
                Преподаватели
            </h2>
            <div class="teachers__row">
                <div class="teachers__col">
                    <div class="teachers__large-text">
                        <p>
                            Качество обучения и вовлеченность ребенка зависит от качества преподавательского состава.
                        </p>
                    </div>
                </div>
                <div class="teachers__col">
                    <div class="teachers__small-text">
                        <p>
                            Каждый педагог имеет профильное высшее образование, а также проходит дополнительную
                            подготовку и аттестацию в нашем федеральном корпоративном университете.
                        </p>
                    </div>
                </div>
            </div>
            <ul class="teachers__list">
                <li class="teachers__list-item">
                    <div class="teachers__card">
                        <div class="teachers__card-image-container">
                            <img data-src="img/teachers/1.jpg" alt="" class="teachers__card-image lazyload">
                        </div>
                        <div class="teachers__card-content">
                            <div class="teachers__card-name">
                                <div class="teachers__card-last-name">
                                    Петровская
                                </div>
                                <div class="teachers__card-first-name">
                                    Елена Валерьевна
                                </div>
                            </div>
                            <div class="teachers__card-text">
                                <p>
                                    consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla
                                    facilisi nullam vehicula ipsum a arcu cursus vitae congue
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="teachers__list-item">
                    <div class="teachers__card">
                        <div class="teachers__card-image-container">
                            <img data-src="img/teachers/2.jpg" alt="" class="teachers__card-image lazyload">
                        </div>
                        <div class="teachers__card-content">
                            <div class="teachers__card-name">
                                <div class="teachers__card-last-name">
                                    Милехин
                                </div>
                                <div class="teachers__card-first-name">
                                    Мечеслав Анатольевич
                                </div>
                            </div>
                            <div class="teachers__card-text">
                                <p>
                                    consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla
                                    facilisi nullam vehicula ipsum a arcu cursus vitae congue
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="teachers__list-item">
                    <div class="teachers__card">
                        <div class="teachers__card-image-container">
                            <img data-src="img/teachers/3.jpg" alt="" class="teachers__card-image lazyload">
                        </div>
                        <div class="teachers__card-content">
                            <div class="teachers__card-name">
                                <div class="teachers__card-last-name">
                                    Кулешова
                                </div>
                                <div class="teachers__card-first-name">
                                    Зоря Сергеевна
                                </div>
                            </div>
                            <div class="teachers__card-text">
                                <p>
                                    consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla
                                    facilisi nullam vehicula ipsum a arcu cursus vitae congue
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="teachers__list-item">
                    <div class="teachers__card">
                        <div class="teachers__card-image-container">
                            <img data-src="img/teachers/4.jpg" alt="" class="teachers__card-image lazyload">
                        </div>
                        <div class="teachers__card-content">
                            <div class="teachers__card-name">
                                <div class="teachers__card-last-name">
                                    Алиев
                                </div>
                                <div class="teachers__card-first-name">
                                    Артемий Петрович
                                </div>
                            </div>
                            <div class="teachers__card-text">
                                <p>
                                    consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla
                                    facilisi nullam vehicula ipsum a arcu cursus vitae congue
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <a href="#" class="outline-btn outline-btn--wide teachers__link">
                Все преподаватели
            </a>
        </div>
    </div>
</section>


<section class="rating">
    <div class="container">
        <div class="inner-container">
            <div class="rating__row">
                <div class="rating__col">
                    <h2 class="rating__heading">
                        Ежемесячно мы составляем федеральный рейтинг преподавателей по 5 критериям:
                    </h2>
                    <ol class="rating__list">
                        <li class="rating__list-item">
                            вовлеченность детей
                        </li>
                        <li class="rating__list-item">
                            удовлетворенность родителей
                        </li>
                        <li class="rating__list-item">
                            качество знаний
                        </li>
                        <li class="rating__list-item">
                            удовлетворенность детей
                        </li>
                        <li class="rating__list-item">
                            качество проведенных занятий
                        </li>
                    </ol>
                </div>
                <div class="rating__col">
                    <div class="rating__photo-wrapper">
                        <img data-src="img/rating.jpg" alt="" class="rating__photo lazyload">
                        <div class="rating__photo-text">
                            <p>
                                Лучшие преподаватели получают дополнительный финансовый бонус от головной компании.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{{/content}}
{{/extend}}