.faq {
    margin-bottom: 16rem;

    .inner-container {
        display: flex;
        flex-direction: column;
    }
}

.faq__heading {
    margin-bottom: 4.5rem;
}

.faq__accordion {
    border-top: 0.2rem solid rgba(#1a1a1a, 0.04);
    &:last-child {
        border-bottom: 0.2rem solid rgba(#1a1a1a, 0.04);
    }
}

.faq__accordion-btn {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    transition: color 0.2s;
    line-height: 150%;
    min-height: 9.6rem;
    cursor: pointer;
    svg {
        width: 2.4rem;
        height: 2.4rem;
        fill: #1a1a1a;

        flex-shrink: 0;
        margin-left: 3rem;
        transition: fill 0.2s, transform 0.2s;
    }

    .faq__accordion.active & {
        color: var(--primary-color);
        svg {
            transform: rotate(45deg);
            fill: var(--primary-color);
        }
    }
}

.faq__accordion-btn-text {
    width: 50%;
    flex-grow: 1;
}

.faq__accordion-content {
    height: 0;
    overflow: hidden;
}

.faq__accordion-content-inner {
    padding-bottom: 3.2rem;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 150%;
    max-width: 89rem;
}

.faq__link {
    align-self: center;
    margin-top: 6.4rem;
}
