.mentors {
    margin-bottom: 18rem;

    @include breakpoint(mobile) {
        margin-bottom: 8rem;
    }
}

.mentors__heading {
    margin-bottom: 4.5rem;

    @include breakpoint(mobile) {
        margin-bottom: 2.4rem;
    }
}

.mentors__image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    padding: 8rem;
    min-height: 56rem;
    box-shadow: 0.4rem 0.8rem 2.4rem rgba(0, 0, 0, 0.06);
    border-radius: 1rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    margin-bottom: 6.4rem;

    @include breakpoint(mobile) {
        min-height: 38rem;
        margin-bottom: 4.5rem;
        padding: 3.2rem 1.6rem;
    }
}

.mentors__image-wrapper-heading {
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 150%;
    max-width: 74rem;

    @include breakpoint(mobile) {
        font-weight: 900;
        font-size: 1.8rem;
        line-height: 150%;
        max-width: none;
    }
}

.mentors__image-wrapper-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 70%);
    }
}

.mentors__image-wrapper-bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mentors__row {
    margin-bottom: 6.4rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 6rem;

    @include breakpoint(mobile) {
        margin-bottom: 4rem;
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 1.6rem;
    }
}

.mentors__small-text {
    max-width: 48rem;

    font-weight: bold;
    font-size: 1.8rem;
    line-height: 150%;
    letter-spacing: 0.02em;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        letter-spacing: 0.02em;
        line-height: 180%;
    }
}

.mentors__regular-text {
    max-width: 58rem;
    font-weight: normal;
    font-size: 2rem;
    line-height: 170%;
    letter-spacing: 0.04em;
    @include breakpoint(mobile) {
        font-weight: normal;
        font-size: 1.4rem;
        letter-spacing: 0.02em;
        line-height: 180%;
    }
}

.mentors__slider {
    .swiper-container {
        overflow: visible;
    }

    .swiper-slide {
        width: 32rem;
        display: flex;
        flex-direction: column;

        @include breakpoint(mobile) {
            width: 20rem;
        }
    }
}

.mentors__slider-card {
    display: flex;
    flex-direction: column;
}

.mentors__slider-image-container {
    position: relative;
    border-radius: 0.4rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    margin-bottom: 2.4rem;

    @include breakpoint(mobile) {
        margin-bottom: 1.4rem;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 150%;
    }
}

.mentors__slider-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mentors__slider-card-name {
    margin-bottom: 2rem;

    @include breakpoint(mobile) {
        margin-bottom: 1.4rem;
    }
}

.mentors__slider-card-first-name {
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 2rem;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #000000;

    @include breakpoint(mobile) {
        font-weight: bold;
        font-size: 1.6rem;
        letter-spacing: 0.04em;
        line-height: 150%;
    }
}

.mentors__slider-card-last-name {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #000000;

    @include breakpoint(mobile) {
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 150%;
    }
}

.mentors__slider-card-description {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #000000;

    @include breakpoint(mobile) {
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 150%;
    }
}

.mentors__slider-top-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        margin-bottom: 2.4rem;
    }
}

.mentors__slider-move {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 150%;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    user-select: none;

    &.swiper-button-disabled {
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s, visibility 0s linear .3s;
    }
    svg {
        width: 2rem;
        height: 2rem;
        fill: var(--primary-color);
        flex-shrink: 0;
        margin-left: 3.2rem;
        animation-name: mentor-arrow;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-duration: .5s;
        animation-timing-function: linear;
        

        @include breakpoint(mobile) {
            width: 1.5rem;
            height: 1.5rem;
            margin-left: 2.4rem;
        }
    }
}


@keyframes mentor-arrow  {
    from {
        transform: translateX(-20%);
    }

    to {
        transform: translateX(20%);
    }
}