.our-partners {
    margin-bottom: 18rem;

    @include breakpoint(mobile) {
        margin-bottom: 8rem;
    }
}

.our-partners__heading {
    margin-bottom: 4.5rem;

    @include breakpoint(mobile) {
        margin-bottom: 4.5rem;
    }
}

.our-partners__slider {
    .swiper-container {
        overflow: visible;
    }

    .swiper-wrapper {
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        width: 27rem;

        @include breakpoint(mobile) {
            width: 14rem;
        }
    }
}

.our-partners__slider-card {
    background-color: #fff;
    position: relative;
    z-index: 1;
    border-radius: 0.4rem;
    box-shadow: 0.4rem 0.8rem 2.4rem rgba(0, 0, 0, 0.06);
    &::before {
        content: '';
        display: block;
        padding-bottom: 38%;

        @include breakpoint(mobile) {
            padding-bottom: 56.25%;
        }
    }
}

.our-partners__slider-card-image {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    object-fit: contain;
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 65%;
}
