.page-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    background-color: var(--white-color);
    transition: box-shadow 0.3s;

    .modal-open & {
        padding-right: var(--sb-width, 0);
    }

    &.fixed {
        box-shadow: 0px 0px 2.4rem rgba(0, 0, 0, 0.05);
    }
}

.page-header__row {
    padding: 5.2rem 0;
    display: flex;
    align-items: center;
    transition: padding 0.4s;

    @include breakpoint(mobile) {
        padding: 2.4rem 0;
    }

    .fixed & {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;

        @include breakpoint(mobile) {
            padding: 2.4rem 0;
        }
    }
}

.page-header__logo {
    flex-shrink: 0;
    margin-right: 11rem;
    position: relative;
    z-index: 65;
    @include breakpoint(mobile) {
        margin-right: 2rem;
    }
}

.page-header__logo-image {
    display: block;
    height: auto;
    width: 16.6rem;
    @include breakpoint(mobile) {
        width: 11rem;
    }
}

.page-header__city {
    margin-right: 3rem;
    
    position: relative;
    z-index: 65;
    @include breakpoint(mobile) {
        display: none;
    }
}

.page-header__city-dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: max-content;
    padding-top: 1rem;

    &.hidden {
        opacity: 0;
        visibility: hidden;
        transition: opacity .2s, visibility 0s linear .2s;
    }
}

.page-header__city-dropdown-inner {
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0 .5rem 0.5rem rgba(black, 0.15);
    border-radius: 1rem;
}

.page-header__city-dropdown-heading {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    font-weight: 400;

    svg {
        width: 1.8rem;
        height: 1.8rem;
        flex-shrink: 0;
        margin-right: 1.5rem;
        fill: currentColor;
    }

    b {
        font-weight: 600;
    }
}

.page-header__city-dropdown-btns {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.page-header__city-dropdown-choose {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    position: relative;
    display: block;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 0.2rem;
        background: var(--primary-color);
        transition: transform 0.2s;
        transform-origin: left center;
        transform: scaleX(0);
    }

    .no-touch &:hover,
    .touch &:active {
        &::before {
            transform: scaleX(1);
        }
    }
}

.page-header__city-btn {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    position: relative;

    white-space: nowrap;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 0.2rem;
        background: var(--primary-color);
    }
}

.page-header__nav {
    margin-left: auto;
    margin-right: 8rem;

    @include breakpoint(small-tablet) {
        margin-right: 4rem;
    }

    @include breakpoint(mobile) {
        display: none;
    }
    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 9.6rem;
        row-gap: 2rem;
        justify-content: flex-end;

        @include breakpoint(small-tablet) {
            gap: 4rem;
            row-gap: 2rem;
        }
        li {
            a {
                font-weight: bold;
                font-size: 1.4rem;
                line-height: 150%;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                position: relative;
                display: block;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: 100%;
                    height: 0.2rem;
                    background: var(--primary-color);
                    transition: transform 0.2s;
                    transform-origin: left center;
                    transform: scaleX(0);
                }

                .no-touch &:hover,
                .touch &:active {
                    &::before {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

.page-header__contact-us {
    white-space: nowrap;
    @include breakpoint(mobile) {
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 150%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        padding: 1rem 1.8rem;
        box-shadow: 0.4rem 0.8rem 2.4rem rgba(0, 0, 0, 0.06);
        border-radius: 0.4rem;
        margin-left: auto;
        position: relative;
        z-index: 65;
    }
}

.page-header__burger-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 60;
    background-color: #fff;
    padding: 0 var(--content-padding);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding-top: 13.5rem;
    padding-bottom: 4rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s;

    .mobile-menu-open & {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}

.page-header__burger-choose-city {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 5.8rem;
    position: relative;
    display: inline-flex;
    position: relative;
    align-self: flex-start;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 0.2rem;
        background: var(--primary-color);
        transition: transform 0.2s;
        transform-origin: left center;
        transform: scaleX(1);
    }

    .no-touch &:hover,
    .touch &:active {
        &::before {
            transform: scaleX(0);
        }
    }
}

.page-header__burger-menu-nav {
    margin-bottom: 3rem;
    & > ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        & > li {
            margin-bottom: 4.4rem;
            &:last-child {
                margin-bottom: 0;
            }
            & > a {
                font-weight: bold;
                font-size: 1.4rem;
                line-height: 150%;
                letter-spacing: 0.04em;
                text-transform: uppercase;
            }
        }
    }
}

.page-header__burger {
    display: none;
    @include breakpoint(mobile) {
        display: inline-flex;
        flex-direction: column;
        gap: 0.4rem;
        flex-shrink: 0;
        margin-right: 1.6rem;
        position: relative;
        position: relative;
        z-index: 65;
        & > span {
            width: 2rem;
            height: 0.2rem;
            background-color: var(--text-color);
            transition: transform 0.2s, opacity 0.2s;

            .mobile-menu-open & {
                &:nth-child(1) {
                    transform: translateY(0.6rem) rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: translateY(-0.6rem) rotate(-45deg);
                }
            }
        }
    }
}

.page-header__burger-menu-contacts {
    margin-top: auto;
}

.page-header__burger-menu-contacts-item {
    margin-bottom: 2.4rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.page-header__burger-menu-contacts-item-key {
    font-weight: bold;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 0.8rem;
}

.page-header__burger-menu-contacts-item-value {
    font-weight: 600;
    font-size: 2rem;
    line-height: 150%;
}


.page-header__city-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.5);
}